.message-list__message {
  display: flex;
  padding: 16px 24px 0 24px;
}

.message__avatar {
  margin-right: 12px;
  min-width: 34px;
}

.message__avatar-image {
  min-width: 34px;
  min-height: 34px;
  max-width: 34px;
  max-height: 34px;
}

.message-header__name {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  display: inline-block;
  margin: 0;
}

.message-header__created-time::before {
  content: '  \2022  ';
  font-size: 15px;
}

.message-header__created-time {
  color: #e5e5e5;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 12px;
}

.message-header__created-time::after {
  content: '  \2022  ';
  font-size: 15px;
}

.message-header__parrot::before {
  background: url('../../../assets/images/parrot-grey.png');
}

.message-header__parrot:hover::before,
.message-list__message-has-parrot button::before {
  background: url('../../../assets/images/parrot.gif');
}

.message-header__parrot::before,
.message-header__parrot:hover::before,
.message-list__message-has-parrot button::before {
  display: inline-block;
  width: 28px;
  height: 20px;
  content: '';
  background-size: 100%;
}

.message-list__message-has-parrot {
  background-color: #fffae7;
}

.message-body__text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #494949;
}

@media (max-width: 330px) {
  .message-header__name {
    display: block;
  }

  .message-header__created-time::before {
    content: '';
  }

  .message-header__created-time {
    font-size: 15px;
  }
}
